<a href="https://colab.research.google.com/github/sLoNz1k/PYTHON/blob/main/CONTROL_WORK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import pandas as pd

In [2]:
lst = ['robot'] * 10
lst += ['human'] * 10

In [3]:
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})

In [4]:
data.columns

Index(['whoAmI'], dtype='object')

In [5]:
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  human

In [6]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       0      1
1       0      1
2       1      0
3       0      1
4       1      0
5       1      0
6       0      1
7       0      1
8       1      0
9       1      0
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      1      0
17      0      1
18      1      0
19      0      1

In [7]:
data = pd.DataFrame({'whoAmI':lst})
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot_group'] = '0'
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] != 'human', 'human_group'] = '0'

data.head(n=20)

   whoAmI robot_group human_group
0   robot           1           0
1   robot           1           0
2   human           0           1
3   robot           1           0
4   human           0           1
5   human           0           1
6   robot           1           0
7   robot           1           0
8   human           0           1
9   human           0           1
10  human           0           1
11  robot           1           0
12  human           0           1
13  robot           1           0
14  robot           1           0
15  human           0           1
16  human           0           1
17  robot           1           0
18  human           0           1
19  robot           1           0